<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/media/image/custom/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="../static/css/main.css">
    <script src="../static/js/custom/jquery.js"></script>
    <title>Master</title>
</head>
<body>

  <section class="miramar flex flex-space align-start back--white color--text ptb-25px maxw-95% auto-margin mb-0 xxl:w-1215px xxl:mlr-auto xl:w-960px xl:mlr-20px lg:w-768px lg:mlr-32px md:mlr-32px">

    <div class="info flex-1 lg:maxw-100%">

      <h2 class="pb-15px color-black">Miramar Downtown Hotel</h2>

      <p class="size-.75rem pb-10px bold">3-STAR HOTEL</p>

      <div class="location flex flex-start mb-10px">

        <p class="one-line color--textLight bold pr-5px size-.85rem">El Tahrir 164, Cairo, Egypt - Downtown Cairo - Garden city</p>
        <button class="bold back--white color--blueLight flex">
          <span class="material-icons size-1.2rem">place</span>View Map
        </button>
      </div>

      <div class="flex flex-start size-.7rem">
        
        <div class="sustainable flex flex-start bold color--green plr-10px ">

          <svg width="14" height="14" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" fill="currentcolor" color="secondary" tabindex="-1" focusable="false" role="img">
            <path d="M20.911 3.37a.75.75 0 00-.6-.59c-4.85-.9-10.6.55-13.37 3.36-2.77 2.81-4.15 8.25-3.37 12.91L1.691 21a.75.75 0 000 1 .74.74 0 00.53.22.71.71 0 00.47-.22l2-1.9c.912.151 1.835.228 2.76.23 4.09 0 8.19-1.33 10.35-3.52 2.71-2.81 4.07-8.59 3.11-13.44zm-4.22 12.38c-2.11 2.14-6.59 3.36-10.7 3l10.29-10.28a.75.75 0 000-1.06.77.77 0 00-1.07 0l-10.3 10.3c-.33-3.91.91-8.31 3.1-10.52 2.19-2.21 7.29-3.63 11.52-3 .67 4.22-.54 9.22-2.84 11.56z" ></path>
          </svg>
          <p class="pl-5px">Travel Sustainable</p>

        </div>
        <p class="color--red wght-500">5 people are looking at this hotel</p>

      </div>

      <div class="share-buttons" data-child="color--blueLight back--white radius-20px border--darkGray size-.7rem ptb-3px prl-10px mr-10px mt-10px">

        <button class="bold inline-flex pointer share">
          <span class="material-icons-outlined pr-5px size-1.2rem">ios_share </span>
          <p class="pt-3px">Share</p>
        </button>
        <button class="bold inline-flex pointer">
          <span class="material-icons-outlined pr-5px size-1.2rem">favorite_border </span>
          <p class="pt-3px">Save & Track Prices</p>
        </button>

      </div>

    </div>

    <div class="pricing ml-auto right-text line-40px">

      <div class="pricing-info">
        
        <div class="bold color--blue size-2.5rem line-1.5rem">
          <p class="hide size-.7rem wght-500">from</p>
          <sup class="size-1.25rem">$</sup>25
        <div class="per wght-500 line-.9rem color--textLight size-.9rem mtb-15px">price per night</div>
        </div>

      </div>

      <button class="bold size-.9rem back--blueLight color--white pbt-10px prl-20px radius-20px">Select Dates</button>

    </div>

  </section>
  
  <section class="more flex flex-wrap align-stretch maxw-100% wght-500 over-hide xxl:w-1215px xxl:mlr-auto xl:w-auto xl:mlr-20px lg:mlr-32px md:mlr-32px" data-child="minw-100% xxl:minw-33.33% xl:minw-33.33% lg:minw-50% md:minw-100%">

      <div class="reasons relative flex-1 mtb-40px pr-32px">

          <h3 class="size-1.2rem mb-30px">Top Reasons to Book</h3>
          <ul class="items">

              <li class="item flex flex-start align-start mb-16px">
                <span class="material-icons color--green back--background p-5 mr-15px circle size-1.25rem"> child_friendly </span>

                <div class="info size-.75rem">
                    <p class="bold mb-4px">KIDS STAY FREE</p>
                    <p class="color--textLight size-.9rem size-.85rem pb-10px line-1.4 wght-500">Children 2 and under stay for free when using an available crib 
                      <a class="color--blueLight pointer link-hover">(details)</a>
                    </p>
                </div>
              </li>

              <li class="item flex flex-start align-start mb-16px">
                <span class="material-icons color--orange back--background p-5 mr-15px circle size-1.25rem"> emoji_events </span>
                  <div class="info size-.75rem">
                      <p class="bold mb-4px">TOP RATED LOCATION</p>
                      <p class="color--textLight size-.9rem size-.85rem pb-10px line-1.4 wght-500">Guests rate the location 8.2/10 <a class="color--blueLight pointer link-hover"></a>
                      </p>
                  </div>
              </li>

          </ul>

      </div>

      <div class="rating relative flex-1 mtb-40px pr-32px">

          <div class="flex flex-start align-start">
              <div class="bold line-28px h-28px prl-7px mr-10px back--orange color--white radius-7px size-1.25rem">6.4</div>
              <h3 class="size-1.2rem mb-30px">Guest Rating</h3>
          </div>

          <ul class="size-.75rem">

              <li class="item pseudo flex flex-space mb-29px">
                  <p class="desc bold">CLEANLINESS</p>
                  <P class="bold size-.88rem">7.0</P>
              </li>

              <li class="item pseudo flex flex-space mb-29px">
                <p class="desc bold">STAFF</p>
                <P class="bold size-.88rem">7.0</P>
            </li>

            <li class="item pseudo flex flex-space mb-29px">
              <p class="desc bold">LOCATION</p>
              <P class="bold size-.88rem">7.0</P>
          </li>

          </ul>

          <button class="show pointer back--white color--blueLight mt-38px wght-500">Verified reviews from 496 guests</button>

      </div>

      <div class="amenities relative flex-1 ptb-40px pl-32px lg:minw-100%">

          <h3 class="size-1.2rem mb-24px">Top Amenities</h3>

          <div class="flex flex-around flex-wrap" data-child="mb-24px size-.725rem line-1.4 pr-24px maxw-25% xxl:maxw-50% xl:maxw-50% minw-33.33%">

              <div class="item flex flex-start color--blueLight link-hover pointer">
                <span  class="material-icons-outlined circle default size-1.4rem mr-10px back--background w-40px h-40px border--white">
                  <img src="https://q-xx.bstatic.com/xdata/images/hotel/max1280x900/169716437.jpg?k=f14a90d988fb88d0ee05ac2e950ee3cc9b196c73a23685426809dbdf045da175&o=" alt="/" class="full-width full-height circle">
                </span>
                <p class=" ">Restaurant</p>
              </div> 

              <div class="item flex flex-start">
                <span  class="material-icons circle default size-1.4rem mr-10px back--background w-40px h-40px p-7px border--white">wifi</span>
                <p class="">Free Internet Access</p>
              </div> 
              
              <div class="item flex flex-start">
                <span class="material-icons circle default size-1.4rem mr-10px back--background w-40px h-40px p-7px border--white">
                  airport_shuttle
                </span>
                <p class="">Airport Shuttle</p>
              </div> 
              
              <div class="item flex flex-start">
                <span class="material-icons circle default size-1.4rem mr-10px back--background w-40px h-40px p-7px border--white">
                  business_center
                </span>
                <p class="">Business Center</p>
              </div> 
              
              <div class="item flex flex-start">
                <span  class="material-icons circle default size-1.4rem mr-10px back--background w-40px h-40px p-7px border--white">accessible</span>
                <p class="">Accessible Rooms / Facilities</p>
              </div> 
              
              <div class="item flex flex-start">
                <span  class="material-icons circle default size-1.4rem mr-10px back--background w-40px h-40px p-7px border--white">smoke_free</span>
                <p class="">Non Smoking Rooms / Facilities</p>
              </div> 

          </div>

          <button class="pointer link-hover back--white color--blueLight size-.875rem wght-500">Show All Amenities</button>
        
      </div>

  </section>
  
    <script src="../static/js/custom/public.js"></script>
    <script src="../static/js/main.js"></script>
</body>
</html>